.ruff_cache/
.ipynb_checkpoints/
.DS_Store
__pycache__
(v)env/
*.dic
*.dict
*.dct
*.dict.p
*.txt
*.xls[x]
*.log
*.[tc]sv
*.pkl
*.pickle
*.png
*.out
*.o
*.gch
*.bin
*.mp4
*/OldResults/**
**/[Oo]ld/*

*log(s)/
.[Vv]env/
.env/
env/
out/
venv/
results/**
src/representations/bert_models_cache/**
